h1  {
    color: rgb(177, 94, 0);
}
strong  {
    color: rgb(0, 49, 51);
}
img  {
    border-radius: 10%;
    width: 500px;
}
.body  {
  display: flex;
}
body  {
    background-image: grey;
}
.left  {
    flex-direction: column;
    margin: 25px;
    justify-content: center;
}
h1  {
    text-align: center;
    color: cadetblue;
}
h2  {
    text-align: center;
    color: cadetblue;
}
.right  {
    flex-direction: column;
    margin: 3%;
    justify-content:center;
}