img  {
    border-radius: 10%;
    width: 500px;
}
.left  {
    flex-direction: column;
    margin: 25px;
    justify-content: center;
}
body  {
    background: linear-gradient(rgb(1, 61, 63), rgb(141, 190, 190));

}
h1  {
    text-align: center;
    color: rgb(0, 53, 54);
}
h2  {
    text-align: center;
    color: rgb(0, 53, 54);
}
.right  {
    flex-direction: column;
    margin: 3%;
    justify-content:center;
}